body {
  /*background:  radial-gradient(40% 70%, #737573, #3b494a, #000000);*/
  background:  #000;
  color: white;
}

.container-fluid{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
.table-area {
  height: 100%;
  width: 100%;

}
.text-center> h1{
  text-decoration: none;
  text-transform: uppercase;
  color: #2864ff;
  font-size: 30px;
  text-shadow: 0px 5px 8px #2864ff;
  //background: radial-gradient(rgb(0, 4, 255), rgb(0, 4, 255)) rgb(0, 4, 255);
  border-radius: 50px;
  //box-shadow: 0px 0px 26px 20px rgb(0, 4, 255);
}

.row{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.btn{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  color: rgb(206, 206, 206);
  font-size: 90%;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.493);
  padding: .5em 1em;
  outline:0;
  border: 0;
  background: linear-gradient(rgb(0, 0, 0), rgb(56, 56, 53)) rgb(109, 27, 27);
  box-shadow:
   0 1px rgb(0, 4, 255) inset,
   0 3px 5px rgb(30, 97, 255),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
.btn:hover:not(:active) {
  background: linear-gradient(rgb(0, 47, 255), rgb(21, 69, 181)) rgb(0, 4, 255);
  text-shadow: 0px 0px 10px #fbf9ff;
}
.btn:active {
  color: rgba(119, 119, 119, 0.644);
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
.picked-cards-area{
  box-shadow: inset 0px 0px 40px 0px rgb(6, 147, 255);
  background: #000000;
  width: 750px;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 5px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-style: solid;
  border-width: 5px;
  border-color: #000846;
  border-radius: 50px;
}

.interface {
  font-size: 13px;
  height: 50px;
}
.hand-combo-area{
  font-size: 13px;
}
.hand-list-element{
  height: auto;
  margin-bottom: 5px;
}

.cards-pickup-area {
  height: 100px;
  position: relative;
  padding: 0 0 0 0;
  margin-bottom: 2px;
}
.fill_cards{
  width: 100%;
}
.column_deck{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.flex_box{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-right: 0px;
  max-width: 700px;
  min-width: 650px;
  max-height: 450px
}
.body_card{
  border-radius: 3px;
  display: block;
  padding-left: 5px;
  padding-top: 5px;
  z-index:1;
  font-size: 20px;
  margin-left: -30px;
  width: 75px;
  height: 110px;
  border: 1px solid #282c34 ;
  position: relative;
  background: rgb(0, 0, 0);
  box-shadow: 0px 3px 5px 2px rgba(99, 99, 99, 0.6);
}
.body_card_activ{
  display: block;
  padding-left: 5px;
  font-size: 20px;
  padding-top: 5px;
  z-index:1;
  margin-left: 10px;
  width: 75px;
  height: 110px;
  border: 1px solid #282c34 ;
  position: relative;
  background: rgb(0, 0, 0);
  box-shadow: 0px 3px 5px 2px rgba(99, 99, 99, 0.6);
}
.body_card_activ:first-child{
  margin-left: 60px;
}
.body_card_activ:hover,
.body_card:hover{
  cursor: pointer;
  z-index: 2;
  transform: translate(0px, -10px);
  box-shadow: 5px 3px 5px 1px rgba(110, 110, 110, 0.6);
}
#♦, #♥{
  color: #c4000c;
  box-shadow: inset 0px 0px 20px 0px rgb(255, 0, 17);
}

#♣, #♠{
  box-shadow: inset 0px 0px 20px 0px rgb(0, 13, 255);
  color: #0700d3;
}

.result{
  margin-top: 30px;
  font-size: 30px;
  color: #c30f16;
  text-shadow: 0px 5px 10px #ff151c;
}
.server_error{
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  color: #c30f16;
  text-shadow: 0px 5px 10px #ff151c;
}
